
.code{
    font-family: Menlo, Monaco, "Courier New", Courier, monospace;
    background-color: #e5e5e5;
    margin: 8px;
    padding: 10px 5px;
    font-size: 90%
}

@media (min-width: 576px){
    .card-columns-double{
        column-count: 2;
        display: flex;
        flex-wrap: wrap;
    }
    .card-columns-double .card{
        width: 48%;
        margin: 2px
    }
}
